@import '../../../../variables';
@import '../../../../mixins';

nav{
  ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding:3.4vh 100px ;
    .actionsForAuthenticationContainer{
      display: flex;
      gap: 29px;
      .active{
        @include buttonStyle($white-color,$voilet-color)

      }
      a{
        font-size: 1.125rem;
        font-weight: 500;
        padding: 1.2vh 2rem;
        border-radius: 8px;
        outline: 1px solid $secondary-black-color;
        color: $voilet-color;
        text-decoration: none;
      }

    }
  }
}



