$primary-black-color: #333333;
$secondary-black-color: #3C4242;
$voilet-color: #8A33FD;
$white-color: #FFFFFF;
$light-gray-color: #F6F6F6;
$green-color: #4CAF50;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 